<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title> Inmate Detail Page for {{ name }} </title>
    <link href="https://fonts.googleapis.com/css?family=Pavanam|Raleway" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/color.css') }}">
</head>

<body>
<div id="container">
    <img src="{{ url_for('static', filename='mugshots/' + inmate.photo) }}" width="150" height="200"/>

    <p>Name: {{ inmate.name }}</p>

    <p>Race: {{ inmate.race }}</p>

    <p>Sex: {{ inmate.sex }}</p>

    <p>Date of Birth: {{ inmate.dob }}</p>

    <p>Entry: {{ inmate.entry }}</p>

    <p>Facility: {{ inmate.facility }}</p>

    <p>Custody: {{ inmate.custody }}</p>

    <p><a href="{{ url_for('inmates') }}">Return to list</a></p>
</div> <!-- close container -->
</body>
</html>
