<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title> Inmates </title>
<link href="https://fonts.googleapis.com/css?family=Pavanam|Raleway" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/color.css') }}">
</head>

<body>
<div id="container">

<h1>Florida's Death Row Inmates</h1>

<p>This is a list of Florida's Death Row inmates. Caitlin Ostroff makes poor life choices.</p>

<div class="inmateList">
<ul>
{% for source in roster %}
    <li>
        <a href="{{ url_for('inmate', id=source.id) }}">
            <img src="{{ url_for('static', filename='mugshots/' + source.photo) }}" width="150" height="200"/>
        </a>
        <p >{{ source.name }}</p>
    </li>
{% endfor %}
</ul>
</div>



</div> <!-- close container -->

</body>
</html>
